<div class="screen-correct bg-light m-0">
  <div class="container pt-4">
    <pages-title>Posts pubblicated</pages-title>
    <app-row>
      <div class="col-4 mr2">
        <app-cards [title]="'Total'" [titleClass]="'text-primary'">
          {{total}}
        </app-cards>
      </div>
      <div class="col-4 mr2">
        <app-cards [title]="'Visible'" [titleClass]="'text-success'">
          {{visible}}
        </app-cards>
      </div>
      <div class="col-4 mr2">
        <app-cards [title]="'Unvisible'" [titleClass]="'text-info'">
          {{unvisible}}
        </app-cards>
      </div>
    </app-row>
    <app-row>
      <div class="col-12 mt-5">
        <pages-table [title]="'Posts'" [settings]="settings"></pages-table>
      </div>
    </app-row>
  </div>
</div>
<pages-button-create
  [router]="[
    'create'
  ]"
>
  <i class="fas fa-feather text-white p-3 hoverable-button"></i>
</pages-button-create>
<app-spinner [view]="view"></app-spinner>
