<form #loginForm="ngForm" style="width: 25vw" (ngSubmit)="send(loginForm)">
  <h1 class="text-uppercase login-text">Login</h1>
    <div
      class="form-group mt-3"
      [ngClass]="{
         'invalid': email.dirty && email.invalid
      }"
    >
      <input
        type="email"
        id="email"
        #email="ngModel"
        ngModel
        placeholder="email"
        name="email"
        title="Insert email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        required
      >
    </div>
    <div
      class="form-group mt-3 mb-3"
      [ngClass]="{
         'invalid': password.dirty && password.invalid
      }"
    >
      <input
        type="password"
        #password="ngModel"
        id="password"
        placeholder="password"
        name="password"
        title="Insert password"
        ngModel
        minlength="6"
        required
      >
    </div>
    <app-alert *ngIf="error">
      Username or password incorrect.
    </app-alert>
    <div class="form-group mt-3">
      <button type="submit" class="btn btn-primary"[disabled]="loginForm.invalid">Submit</button>
    </div>
</form>

