<div class="screen-correct bg-light m-0">
  <div class="container pt-4">
    <pages-title>Create post</pages-title>
    <app-row>
      <div class="col-7">
        <post-editor></post-editor>
      </div>

      <div class="col-5">
        <app-card-simple
          [title]="'General information'"
          [titleClass]="'h5 text-uppercase font-weight-bold text-primary'"
        >
          <app-geninfo></app-geninfo>
          <app-category></app-category>
          <app-type></app-type>
          <app-title></app-title>
        </app-card-simple>

        <app-card-simple
          [title]="'Seo'"
          [titleClass]="'h5 text-uppercase font-weight-bold text-primary'"
          [cardClass]="'mt-3'"
        >
          <app-description></app-description>
        </app-card-simple>

        <app-card-simple
          [title]="'General Setting Post'"
          [titleClass]="'h5 text-uppercase font-weight-bold text-primary'"
          [cardClass]="'mt-3 mb-3'"
        >
          <app-important></app-important>

          <app-sendbutton></app-sendbutton>
        </app-card-simple>
      </div>
    </app-row>
  </div>
</div>
