<nav class="leftbar">
  <div class="logoHome d-flex align-items-center justify-content-center">
    <i class="fas fa-rocket"></i>
    <strong>myCMS.JS</strong>
  </div>
  <hr class="leftbar-divider" style="margin-bottom: 0 !important;">
  <div class="dashlink iconMarg">
    <a routerLink="/dashboard" title="Go to Dashboard"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
  </div>
  <hr class="leftbar-divider">
  <div class="nav-group">
    <strong>Cms</strong>
    <ul class="cms-nav nav-list">
      <li class="nav-item icon">
        <a routerLink="/dashboard" title="Go to Dashboard"><i class="fa-tachometer-alt"></i>Dashboard</a>
      </li>

    </ul>
  </div>
  <div class="nav-group">
    <ul class="addons-nav nav-list">
      <li class="nav-item">

      </li>
    </ul>
  </div>
</nav>
