<nav class="aside">
  <app-aside-logo></app-aside-logo>
  <app-divider>
    <app-dashlink [routes]="['dashboard']" [icons]="['fa-tachometer-alt']"></app-dashlink>
  </app-divider>
  <app-navgroup
    [titleGroup]="'cms'"
    [icons]="[
      'fa-clipboard',
      'fa-list'
    ]"
    [routes]="[
      'posts',
      'categories'
    ]"
  ></app-navgroup>
  <app-navgroup
    [titleGroup]="'media'"
    [icons]="[
      'fa-images',
      'fa-video'
    ]"
    [routes]="[
      'images',
      'videos'
    ]"
  ></app-navgroup>
  <app-navgroup
    [titleGroup]="'settings'"
    [icons]="[
      'fa-cogs',
      'fa-users-cog'
    ]"
    [routes]="[
      'generals',
      'users'
    ]"
  ></app-navgroup>
  <app-bottomlogout></app-bottomlogout>
</nav>
